@import '../../../@shared/variables';

#first {
  background: $tertiary;
  position: sticky;
  top: 0;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  .user-icon,
  .user-link {
    color: white;
  }
}
