.sidemenu {
  background-color: #1f1d36;
  color: #e9a6a6;
  max-height: 100%;
  height: 100vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 1.5rem;

  * {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #e9a6a6;
  }
}
.head {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding-top: 2rem;
}
.fas {
  color: brown;
}
.sidemenu-menu {
  font-size: 15px;
  cursor: pointer;
}
.sidemenu-menu.front {
  padding-top: 1rem;
}
.sidemenu-btn {
  border-radius: 100px;
  color: #1f1d36;
  padding: 0.7rem 5rem;
  cursor: default;
  font-family: inherit;
}
.sidemenu-btn:focus {
  outline: 0;
}
