<div class="sidemenu">
  <div class="sidemenu-head">
    <i class="fas fa-wallet"></i>
    Bank Init
  </div>
  <div class="sidemenu-container">
    <a class="sidemenu-menu front" (click)="onClick('/loan/list')"
      >Liste des prêts</a
    >
    <a class="sidemenu-menu" (click)="onClick('/loan/create')"
      >Enregistrer un nouveau prêt</a
    >
    <a class="sidemenu-menu" routerLink="">Calendrier de remboursement</a>
    <button disabled>
      <a> Dashboard </a>
    </button>
  </div>
</div>
