<h1 class="px-2">Liste des prêts</h1>

<div class="input-group justify-content-end pe-3 mb-2">
  <div>
    <input
      type="search"
      id="loan-search"
      class="form-control"
      placeholder="Search"
    />
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div>

<table class="table table-striped table-hover d-block px-2 mx-auto w-auto">
  <thead>
    <tr>
      <th scope="col">ACTIONS</th>
      <th scope="col">CLIENT</th>
      <th scope="col">MONTANT PRÊT</th>
      <th scope="col">DATE DU PRÊT</th>
      <th scope="col">FIN DU CONTRAT</th>
      <th scope="col">MONTANT INTÊRET</th>
      <th scope="col">POURCENTAGE</th>
      <th scope="col">MODE DE PAIEMENT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of list">
      <td class="actions d-flex gap-1 px-2">
        <button title="Voir" class="btn btn-primary">
          <i class="fas fa-eye"></i>
        </button>
        <button title="Modifier" class="btn btn-danger">
          <i class="fas fa-pencil"></i>
        </button>
      </td>
      <td *ngFor="let item of loan | keyvalue: originalOrder" class="px-3">
        {{ item.value | longDate }}
      </td>
    </tr>
  </tbody>
</table>
<app-pagination
  [count]="pageCount()"
  (buttonOnClick)="pageOnChange($event)"
></app-pagination>
