.container {
  background-color: #1f1d36;
  color: #e9a6a6;
  max-height: 100%;
  height: 100vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 1.5rem;
}
.head {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding-top: 2rem;
}
.fas {
  color: brown;
}
.menu {
  width: max-content;
  font-size: 15px;
  cursor: pointer;
}
.menu.front {
  padding-top: 1rem;
}
.btn {
  border-radius: 100px;
  color: #1f1d36;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 5rem;
  cursor: default;
  font-family: inherit;
}
.btn:focus {
  outline: 0;
}
