<div
  class="p-2 dropdown header d-flex justify-content-end align-items-center gap-3 shadow-sm"
  id="first"
>
  <div class="user-icon">
    <i class="fa-xl fa-solid fa-user"></i>
  </div>
  <a
    class="dropdown-toggle user-link"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Utilisateur <br />
    Connecté
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Se Connecter</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Calcul rapide</a></li>
    <li><a class="dropdown-item" href="#">Paramètre</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Déconnecter</a></li>
  </ul>
</div>
