@import "../../../@shared/styles/variables";

ul {
  padding: 0 1rem;
  position: sticky;
  top: 4rem;
  background-color: white;

  & > li:last-child a {
    color: lighten($quaternary, 50) !important;
  }
}

a {
  color: black !important;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
