@import '../../../@shared/variables';

ul {
  padding: 0 1rem;
  position: sticky;
  top: 4rem;
  background-color: white;
}

a {
  color: darken($quaternary, 5) !important;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
